// import main scss file
@import '../../styles/main';

.home-page {
  @include flex-center;
  flex-direction: column;
  margin-top: 10rem; 
  padding: 2rem;
  background-color: $background-color; 
}

