$primary-color: #007BFF;
$secondary-color: #1a1a19;
$text-color: #2C3E50;
$background-color: #0D0D0D;
$white-color: #FFFFFF;
$search-form-bg: #FBE464;
$button-hover: #F2C34A;
$dropdown-hover: #555134;

$font-family-base: 'Roboto', sans-serif;
$font-size-base: 16px;
$font-size-heading: 24px;
$font-weight-bold: 700;
$font-weight-normal: 400;